<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.dao.CommentMapper">

    <resultMap id="comment" type="com.cn.pojo.vo.Comment">
        <id property="id" column="id"></id>
        <result property="comment" column="comment"></result>
        <result property="userId" column="userid"></result>
        <result property="courseId" column="courseid"></result>
        <result property="score" column="score"></result>

        <association property="user" javaType="com.cn.pojo.vo.User">
            <id property="id" column="user_id"></id>
            <result property="loginName" column="login_name"></result>
            <result property="pic" column="pic"></result>
        </association>
    </resultMap>

    <select id="findCourseCommentByCourseId" resultMap="comment">
        SELECT qct.*,lu.login_name,lu.pic FROM
        qf_course qc,live_user lu,qf_comment qct
        WHERE
            qc.`id`=qct.courseid AND
            lu.user_id=qct.userid AND
            qc.`id`=#{id}
    </select>
</mapper>